<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MRB</title>
    //= includes/head.html
  </head>
  <body>
    //= includes/header.html

    <main class="d-flex">
      <div class="one" id="scene">
        <div class="img__item img__item--1" data-depth="0.5">
            <div>
                <img src="img/image2.png" alt="">
                <img src="img/image3.png" alt="">
                <img src="img/image1.png" alt="">
            </div>
        </div>
        <div class="img__item img__item--2" data-depth="0.3">
            <div>
                <img src="img/image1.png" alt="">
                <img src="img/image2.png" alt="">
                <img src="img/image3.png" alt="">
            </div>
        </div>
        <div class="img__item img__item--3" data-depth="0.75">
            <div>
                <img src="img/image3.png" alt="">
                <img src="img/image1.png" alt="">
                <img src="img/image2.png" alt="">
            </div>
        </div>
      </div>
      <div class="swiper-container" id="slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide"> <p>Ink Lingerie</p> </div>
          <div class="swiper-slide"> <p>Ink Lingerie</p> </div>
          <div class="swiper-slide"> <p>Ink Lingerie</p> </div>
          <div class="swiper-slide"> <p>Ink Lingerie</p> </div>
          <div class="swiper-slide"> <p>Ink Lingerie</p> </div>
          <div class="swiper-slide"> <p>Ink Lingerie</p> </div>
        </div>
      </div>
      <svg width="610" height="728" viewBox="0 0 610 728" fill="none" xmlns="http://www.w3.org/2000/svg" data-llp-composed="true" id="vector" class="lazy-line-painter">
          <path d="M139.416 31.4647C-159.248 309.376 101.471 367.764 214.964 1C336.277 136.37 767.08 317.52 345.08 103.2C594.544 524.358 643.701 254.041 589.613 727.477" data-llp-id="vector-0" data-llp-duration="3500" data-llp-delay="0" fill-opacity="0" style=""/>
      </svg>
      <div id="hint">Drag me</div>
    </main>

    //= includes/footer.html
    <!-- -->
    //= includes/scripts.html
  </body>
</html>
