html {
  font-size: 16px;
  line-height: 1.2;
}

body {
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  cursor: url("../img/cursor.png"), default;
}

a {
  text-decoration: none;
}

main {
  position: relative;
  height: 100vh;
}

#vector {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
}

#hint {
  display: none;
  position:absolute;
  z-index:999;
  top:0;
  left:0;
  width:100px;
  opacity:0.85;
  text-transform: uppercase;
  font-family: TTTravels-Regular;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
}