@font-face {
  font-family: 'SchnyderXCondXLDemi';
  src: url('../fonts/SchnyderXCondXLDemi.woff2') format('woff2'),
  url('../fonts/SchnyderXCondXLDemi.woff') format('woff'),
  url('../fonts/SchnyderXCondXLDemi.ttf') format('truetype');
}

@font-face {
  font-family: 'TTTravels-Regular';
  src: url('../fonts/TTTravels-Regular.woff2') format('woff2'),
  url('../fonts/TTTravels-Regular.woff') format('woff'),
  url('../fonts/TTTravels-Regular.ttf') format('truetype');
}